<h1>Ports</h1>
<%= form_tag "/ports", method: :get do %>
  <%= label_tag :dock_count_limit, 'Dock Count Threshold Number:' %>
  <%= number_field_tag :dock_count_limit, '0', min: '0' %><br>
  <%= submit_tag "Only return ports with more docks than the given `Dock Count Threshold Number`", name: nil %>
<% end %>

<ul>
  <% @ports.recent_at_top.panamax_capable_at_top.each do |port| %>
    <li class="port-<%= port.id %>"><%= port.name %> <%= port.created_at.strftime("Created on %m/%d/%Y") %></li>
  <% end %>
</ul>
