<h1>Ships</h1>

<p>Ship Count: <%= @port.ship_count %></p>

<%= link_to 'Sort Ships Alphabetically', "/ports/#{@port.id}/ships?sort_ships_alphabetically=true", method: :get %>

<ul>
  <% @ships.each do |ship| %>
    <li class="ship-<%= ship.id %>">
      <%= ship.name %><br/>
      <%= ship.created_at.strftime("Created on %m/%d/%Y") %>
      <p>Floating: <%= ship.floating %></p>
      <p>Crew Count: <%= ship.crew_count %></p>
      <%= link_to "Update Ship", "/ships/#{ship.id}/edit", class: "update-ship-#{ship.id}"  %>
      <%= link_to "Delete Ship", "/ships/#{ship.id}", class: "delete-ship-#{ship.id}", method: :delete  %>
    </li>
  <% end %>
</ul>

<%= link_to "Create Ship", "/ports/#{@port.id}/ships/new"  %>
