<h1>Ships</h1>

<p>Ship Count: <%= @port.ship_count %></p>

<ul>
  <% @port.ships.each do |ship| %>
    <li>
      <h3><%= ship.name %></h3>
      <p>Floating: <%= ship.floating %></p>
      <p>Crew Count: <%= ship.crew_count %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Create Ship", "/ports/#{@port.id}/ships/new"  %>
