<h1>Passengers</h1>
<%= form_tag "/passengers", method: :get do %>
  <%= number_field_tag :search, params[:search] %><br>
  <%= submit_tag "Only return passengers older than specified age", name: nil %>
<% end %>
<ul>
  <% @passengers.each do |passenger| %>
    <li>
      <h3><%= link_to passenger.name, "/passengers/#{passenger.id}" %></h3><%= passenger.created_at.strftime("Created on %m/%d/%Y") %>
      <p>Age: <%= passenger.age %></p>
      <p>Driver: <%= passenger.driver %></p>
    </li>
  <% end %>
</ul>
