<h1>Ships</h1>
<%= form_tag "/ships", method: :get do %>
  <%= label_tag :crew_count_limit, 'Crew Count Threshold Number:' %>
  <%= number_field_tag :crew_count_limit, '0', min: '0' %><br>
  <%= submit_tag "Only return ships with more crew than the given `Crew Count Threshold Number`", name: nil %>
<% end %>

<ul>
  <% @ships.recent_at_top.each do |ship| %>
    <li class="ship-<%= ship.id %>">
      <%= link_to(ship.name,"/ships/#{ship.id}") %><br/>
      <%= ship.created_at.strftime("Created on %m/%d/%Y") %>
      <p>Floating: <%= ship.floating %></p>
      <p>Crew Count: <%= ship.crew_count %></p>
      <%= link_to "Update Ship", "/ships/#{ship.id}/edit", class: "update-ship-#{ship.id}"  %>
      <%= link_to "Delete Ship", "/ships/#{ship.id}", class: "delete-ship-#{ship.id}", method: :delete %>
    </li>
  <% end %>
</ul>
