<h1><%= @ship.name %></h1>
<p>Floating: <%= @ship.floating %></p>
<p>Crew Count: <%= @ship.crew_count %></p>
<%= link_to "Update Ship", "/ships/#{@ship.id}/edit"  %>
<%= link_to "Delete Ship", "/ships/#{@ship.id}", method: :delete  %>
