<h1>Vehicles</h1>
<%= form_tag "/vehicles", method: :get do %>
  <%= number_field_tag :search, params[:search] %><br>
  <%= submit_tag "Only return vehicles with more than specified number of seats", name: nil %>
<% end %>
<p><%= link_to "New Vehicle", "/vehicles/new" %><p>
  <p><%= link_to "Sort by number of passengers", "/vehicles?search_type=passenger+number" %><p>
<ul>
  <% @vehicles.each do |vehicle| %>
    <li>
      <h3><%= link_to(vehicle.name,"/vehicles/#{vehicle.id}") %></h3>
      <%= vehicle.created_at.strftime("Created on %m/%d/%Y") %>
      <%= link_to("Edit","/vehicles/#{vehicle.id}/edit") %>
      <%= link_to("Delete","/vehicles/#{vehicle.id}", method: :delete) %>
    </li>
  <% end %>
</ul>
